/* Fonts */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
}

/* Base */

:root {
  box-sizing: border-box;

  --black: #1b1f2b;
  --white: #ffffff;

  --orange200: #efa501;
  --orange100: #f8e6be;

  --green400: #286562;
  --green300: #3b7e7b;
  --green200: #627f7e;
  --green100: #e0f0e5;

  --gray300: #a6a6a6;
  --gray200: #d9dfdb;
  --gray100: #f1f3f2;

  --beige200: #f4f0e9;
  --beige100: #f9f7f4;

  --p-normal: normal 400 20px / 28px "Roboto", sans-serif;
  --p-big: normal 700 23px / 28px "Roboto", sans-serif;
  --p-small: normal 400 17px / 24px "Roboto", sans-serif;

  --h1-font-letter-spacing: 1.92px;
  --h2-font-letter-spacing: 0px;
  --h3-font-letter-spacing: 0px;
  --p-small-letter-spacing: -0.17px;

  --section-mrg-bottom: 135px;
  --main-border-radius: 50px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

button {
  border: 0;
  background: none;
  vertical-align: baseline;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus {
  outline: 0;
}

a,
a:link,
a:visited {
  color: inherit;
}

h1 {
  font: normal 700 96px / 105px "Roboto", sans-serif;
  letter-spacing: var(--h1-font-letter-spacing);
}

h2 {
  font: normal 700 59px / 73px "Roboto", sans-serif;
  letter-spacing: var(--h2-font-letter-spacing);
}

h3 {
  font: normal 500 35px / 43px "Roboto", sans-serif;
  letter-spacing: var(--h3-font-letter-spacing);
}

body {
  font: var(--p-normal);
  letter-spacing: 0px;
  color: var(--black);
  background: var(--beige100);
}

/* Layout */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.container {
  max-width: 1276px;
  padding: 0 53px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.section__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 30px;

  text-align: center;

  max-width: 723px;

  margin: 0 auto;

  margin-bottom: 100px;
}

.section-subtitle {
  color: var(--gray300);
  max-width: 418px;
}

/* Button Link */

.btn-details {
  font: var(--p-big);
  letter-spacing: 0px;
  border-radius: var(--main-border-radius);

  display: block;

  position: relative;

  text-decoration: none;

  width: 199px;
  padding: 7px 58px 7px 20px;
  margin: -7px -20px;

  background-color: transparent;
  transition: all 0.3s ease;
}

.btn-details__text {
  color: var(--white);
}

.btn-details::before {
  content: "";

  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);

  display: block;
  width: 24px;
  height: 26px;

  background-image: url(/img/icons/arrow-bt.svg);
  background-repeat: no-repeat;
  background-size: cover;

  pointer-events: none;
}

/* Header */

.header {
  background-image: url(/img/header/header-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  color: var(--white);

  margin-bottom: var(--section-mrg-bottom);
}

.header--nav-fixed {
  padding-top: 88px;
}

.header__nav-wrapper {
  width: 100%;
  height: 88px;
}

.header__nav-wrapper--fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(243, 239, 232, 0.6);
  backdrop-filter: blur(27px);
  color: var(--black);

  transition: all 0.3s ease;
}

.header__nav-wrapper--fixed svg path {
  fill: var(--black);
}

.header__nav-wrapper--hidden {
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.header__nav {
  margin: 0 auto;
  max-width: 1282px;
  padding: 0 57px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav a {
  text-decoration: none;
}

.header__logo-img {
  display: block;
  width: 182px;
  height: 32px;
}

.header__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;

  gap: 50px;
}

.header__content {
  padding: 119px 0;

  max-width: 768px;
  margin: 0 auto;

  text-align: center;
}

.header__content-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.header__title {
  margin: 0 auto;
}

.header__text {
  max-width: 612px;
  padding: 0 25px;
}

.header__btn {
  font: var(--p-small);
  letter-spacing: var(--p-small-letter-spacing);

  padding: 5px 20px;
  border-radius: 10px;

  text-decoration: none;

  background: var(--white);
  transition: all 0.3s ease;

  cursor: pointer;
}

.header__btn span {
  color: var(--black);
  transition: all 0.3s ease;
}

/* Section Choice */

.choice {
  margin-bottom: var(--section-mrg-bottom);
}

.choice__top {
  gap: 35px;
  margin-bottom: 106px;
}

.choice__list {
  font: var(--p-big);
  letter-spacing: 0px;

  list-style: none;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 30px;
}
.choice__list-item--desktop {
  color: var(--orange200);
  text-decoration: underline;
  text-underline-offset: 9px;
  text-decoration-thickness: 2px;
}

.choice__list-link {
  text-decoration: none;
}

.choice__flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 30px;
}

.choice__card {
  flex-basis: calc((100% / 3) - 20px);
}

.card {
  border-radius: var(--main-border-radius);
  position: relative;
  cursor: pointer;

  height: 531px;
  overflow: hidden;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.06) 48.44%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.card__body {
  width: 100%;
  height: 100%;

  padding: 50px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;

  color: var(--white);
}
.card__body-promo p {
  font: var(--p-small);
  letter-spacing: var(--p-small-letter-spacing);
}

.card__title {
  margin-bottom: 16px;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  transition: transform 300ms ease;
}

/* Section Choice */

.constructor {
  margin-bottom: var(--section-mrg-bottom);
}

.constructor__form {
  border-radius: var(--main-border-radius);

  width: 100%;
  padding: 70px;
  background: var(--white);
}

.constructor__form *::placeholder {
  color: var(--gray300);
}

.constructor__flex {
  display: flex;
  flex-wrap: wrap;
  row-gap: 33px;
  column-gap: 30px;
}

.constructor__form-field:nth-child(-n + 6) {
  flex-basis: calc(50% - 15px);
}

.constructor__form-field:nth-child(n + 7):nth-child(-n + 10) {
  flex-basis: 100%;
}

.constructor__form-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.constructor__form-label {
  display: block;
}

.constructor__form-input,
.constructor__form-textarea,
.constructor__form-select,
.constructor__form-date {
  font: var(--p-normal);
  letter-spacing: 0px;

  cursor: pointer;

  display: block;
  width: 100%;
  padding: 19px;
  border-radius: 10px;
  background-color: var(--beige100);
  border: 1px solid var(--beige100);
  transition: all 0.3s ease;
}

.constructor__form-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  color: var(--black);
  padding-right: 50px;
}

.constructor__form-select::-ms-expand {
  display: none;
}

.constructor__form-select option {
  background-color: var(--white);
  color: var(--black);
}

.constructor__form-select--placeholder {
  color: var(--gray300);
}

.constructor__custom-arrow {
  position: relative;
}

.constructor__custom-arrow::before {
  content: "";

  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);

  display: block;
  width: 26px;
  height: 26px;

  background-image: url(/img/icons/ic-dropdown.svg);
  background-repeat: no-repeat;
  background-size: cover;

  pointer-events: none;
}

.constructor__form-date {
  -webkit-appearance: none;
  height: 68px;
  text-transform: uppercase;
  letter-spacing: -0.6px;
}

.constructor__form-date::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.constructor__form-input--date-placeholder {
  color: var(--gray300);
}

.constructor__form-input--invalid {
  border: 1px solid #f1c5c8;
}

.constructor__form-textarea {
  height: 152px;
}

.constructor__form-fieldset {
  all: unset;

  display: flex;
  flex-direction: column;
}

.constructor__form-fieldset legend {
  margin-bottom: 8px;
}

.constructor__form-radio-flex {
  display: flex;
  align-items: center;
  gap: 31px;
}

.constructor__form-radio-label {
  display: flex;
  align-items: center;
  gap: 11px;

  cursor: pointer;
}
.constructor__form-radio-label input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.constructor__form-radio-custom {
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  border: 0.1em solid var(--black);
  border-radius: 50%;

  position: relative;
}

.constructor__form-radio-input:checked
  + .constructor__form-radio-custom::before {
  content: "";

  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  background-color: var(--black);
  border-radius: 50%;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.constructor__form-checkbox-lebel {
  font: var(--p-small);
  letter-spacing: var(--p-small-letter-spacing);

  color: var(--gray300);

  display: flex;
  align-items: center;
  gap: 20px;

  cursor: pointer;
}

.constructor__form-checkbox-lebel input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.constructor__form-checkbox-lebel a {
  color: var(--black);
  text-decoration: none;
  transition: all 0.3s ease;
}

.constructor__form-checkbox-custom {
  flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
  border: 0.12em solid var(--black);
  border-radius: 20%;

  position: relative;
}

.constructor__form-checkbox-input:checked
  + .constructor__form-checkbox-custom::before {
  content: "";

  display: inline-block;
  width: 0.82em;
  height: 0.64em;
  background-image: url(/img/icons/check-mark.svg);
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.constructor__form-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.constructor__form-button {
  width: 235px;
  height: 58px;
  padding: 0.75px;

  font: var(--p-normal);
  letter-spacing: 0px;
  color: var(--green400);
  background-color: var(--green100);
  border-radius: 10px;

  transition: all 0.3s ease;

  cursor: pointer;
}

.constructor__form-button--primery {
  color: var(--white);
  background-color: var(--green400);
}

/* Section Response */

.response {
  margin-bottom: var(--section-mrg-bottom);
}

.response__content {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.response__card {
  border-radius: var(--main-border-radius);
  flex-basis: 50%;

  background-color: var(--beige200);
  min-height: 672px;
  padding: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 70px;
}

.response__text {
  font: var(--p-big);
  letter-spacing: 0px;
}

.response__text p:not(:last-of-type) {
  margin-bottom: 28px;
}

.response__user {
  display: flex;
  justify-content: space-between;
}

.user__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
}

.user__item p {
  font: var(--p-small);
  letter-spacing: var(--p-small-letter-spacing);

  color: var(--gray300);
}

.user__avatar {
  width: 75px;
  height: 75px;

  border-radius: 100px;
}

/* Section Gallery */

.gallery {
  margin-bottom: var(--section-mrg-bottom);
}

.gallery__flexbox {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 100%;
}

.gallery__row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.gallery__item {
  height: calc((963px - 60px) / 3);
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}

.gallery__item img {
  border-radius: var(--main-border-radius);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Section Story */

.story {
  margin-bottom: var(--section-mrg-bottom);
}

.story__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.ticket {
  border-radius: var(--main-border-radius);

  cursor: pointer;

  position: relative;

  max-width: 1170px;
  height: 567px;

  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0.01%,
    rgba(0, 0, 0, 0.2) 100%
  );

  overflow: hidden;
}

.ticket img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  transition: transform 300ms ease;
}

.ticket__body {
  color: var(--white);

  height: 100%;
  padding: 60px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ticket__top {
  max-width: 554px;
}

.ticket__tittle {
  margin-bottom: 37px;
}

.ticket__text > * {
  margin-bottom: 28px;
}

.ticket__list {
  padding-left: 30px;
}

.ticket__list li::marker {
  font-size: 16px;
}

.ticket__bottom {
  display: flex;
  justify-content: space-between;
}

.ticket__social {
  display: flex;
  gap: 36px;

  padding: 0;
  list-style: none;
}

.ticket__social-link {
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Article Promo */

.article-promo {
  margin-bottom: var(--section-mrg-bottom);
}

.article-promo__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.article-promo__img {
  border-radius: var(--main-border-radius);

  width: 370px;
  height: 370px;
  object-fit: cover;
}

.article-promo__info {
  max-width: 371px;
}

.article-promo__info a {
  color: var(--black);
  text-decoration: none;
  transition: all 0.3s ease;
}

.article-promo__tittle {
  margin-bottom: 20px;
}

.article-promo__text {
  color: var(--gray300);
}

/* Footer */

.footer {
  background: var(--beige200);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  align-items: stretch;

  padding: 30px 1px;
}

.footer__text {
  color: var(--gray300);
}

.footer__social {
  display: flex;
  gap: 25px;

  padding: 0;

  list-style: none;
}

.footer__social-item {
  display: flex;
  gap: 10px;
}

.footer__social-link {
  text-decoration: none;
}
