.response {
    @extend %section-mrg-bottom;

    &__content {
        display: flex;
        justify-content: center;
        gap: 30px;

        @include media(max, xxl) {
            gap: 18px;
        }

        @include media(max, md) {
            flex-wrap: wrap;
        }
    }

    &__card {
        @extend %main-border-radius;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 70px;
        flex-basis: 50%;

        min-height: 672px;
        padding: 40px;
        
        background-color: $beige200;

        @include media(max, lg) {
            gap: 40px;
            
            padding: 20px;
        }

        @include media(max, md) {
            flex-basis: 100%;
            
            min-height: auto;
        }
    }

    &__text {
        @extend %p-big;

        & p {
            @include media(max, lg) {
                width: 98%;
            }

            &:not(:last-of-type) {
                margin-bottom: 28px;
                
                @include media(max, lg) {
                    margin-bottom: 23px;
                  }
            }
        }
    }

    &__user {
        display: flex;
        justify-content: space-between;
    }
}

.user {
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 8px;

        & p {
            @extend %p-small;

            color: $gray300;
        }
    }

    &__avatar {
        width: 75px;
        height: 75px;
        
        border-radius: 100px;
    }

}