%p-normal {
    @include media(max, lg) {
        @include font(normal 400 16px / 23px "Roboto")
    }

    @include media(min, lg) {
        @include font(normal 400 20px / 28px "Roboto")
    }
}

%p-big {
    @include media(max, lg) {
        @include font(normal 700 16px / 23px "Roboto")
    }

    @include media(min, lg) {
        @include font(normal 700 23px / 28px "Roboto")
    }
}

%p-small {
    @include media(max, lg) {
        @include font(normal 400 16px / 23px "Roboto", -0.16px)
    }

    @include media(min, lg) {
        @include font(normal 400 17px / 24px "Roboto", -0.17px)
    }
}

%link {
    text-decoration: none;
    
    color: $black !important;
    
    transition: all 0.3s ease;

    @include hover {
        &:hover {
            text-decoration: underline;
        }

        &:active {
            text-decoration: underline;
            
            color: $green400;
        }
    }
}

%section-mrg-bottom {
    @include media(max, lg) {
        margin-bottom: map-get($section-mrg-bottom, small);
    }

    @include media(min, lg) {
        margin-bottom: map-get($section-mrg-bottom, large);
    }
}

%main-border-radius {
    @include media(max, lg) {
        border-radius: map-get($main-border-radius, small);
    }

    @include media(min, lg) {
        border-radius: map-get($main-border-radius, large);
    }
}