@mixin font($font, $letter-spacing: 0px) {
  font: $font, sans-serif;
  letter-spacing: $letter-spacing;
}

@mixin hover {
  @media (hover: hover) and (pointer: fine) and (min-width: map-get($sizes, lg)) {
    @content;
  }
}

@function setMinOrMax($minmax, $from) {
  @if #{$minmax} == 'min' {
    @return calc($from + 1px);
  } @else {
    @return $from;
  }
}

@mixin media($minmax, $fromSize, $toSize: null) {

  $from: map-get($sizes, $fromSize);
  $to: if($toSize,map-get($sizes, $toSize),null);

  @if $to {
    @media only screen and (min-width: calc($from + 1px)) and (max-width: $to) {
      @content;
    }
  } @else {
    @media only screen and (#{$minmax}-width: setMinOrMax($minmax, $from)) {
      @content;
    }
  }
}