$black: #1b1f2b;
$white: #ffffff;

$orange200: #efa501;
$orange100: #f8e6be;

$green400: #286562;
$green300: #3b7e7b;
$green200: #627f7e;
$green100: #e0f0e5;

$gray300: #a6a6a6;
$gray200: #d9dfdb;
$gray100: #F1F3F2;

$beige200: #f4f0e9;
$beige100: #f9f7f4;

$section-mrg-bottom: (
    small: 75px,
    large: 135px
);

$main-border-radius: (
    small: 20px,
    large: 50px
);